<a href="https://colab.research.google.com/github/sunil1204-bot/Basic-python-programming/blob/main/Copy_of_Python_Bootcamp_Graded_Hands_on_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Overview

Dear Learner, 

Congratulations, you have studied Python all the way through the end of this bootcamp!!! This is the final graded hands-on exercise where you will be accomplishing the below mentioned task.

Authors: Albana Celepija, Vinayak Deshpande

###Task 1

We have declared a tuple containing five same elements as following:
T = (‘python’, ‘python’, ‘python’, ‘python’, ‘python’).
Re-write the same code in an optimal/simple way that fetches the same result.

In [ ]:
T = ("python", "python", "python", "python", "python")
T

('python', 'python', 'python', 'python', 'python')

###Task 2

Write code to print characters from a string that are present at an even index number.
For example, if your input string is "python", the output characters will be (p,t,o).

In [ ]:
strng=input(str())
for ind in range(len(strng)):
   if ind%2==0:
     print(strng[ind],end='')

sunilkumar
snlua

In [ ]:
strng=input(str())
strng[0::2]

sunilkumar

'snlua'

### Task 3

Write a function that calculates the average of the elements of the list: 

elements = [5, 7, 4, 9, 2]

In [ ]:
elements = [5, 7, 4, 9, 2]
def Average(elements):
  return sum(elements)/len(elements)

In [ ]:
Avg=Average(elements)
round(Avg,2)

5.4

### Task 4
Write code to find if the given year is a leap year or not.

In [ ]:
def is_leap(year):
    if year%4==0:
        print("Leap Year")
    elif year%400==0:
        print("Leap Year")
    else:
        print("Not a Leap Year")

In [ ]:
is_leap(2005)

Not a Leap Year

### Task 5
Given a list of numbers (integers), find the sum of second maximum and second minimum in the following list.

l = [21, 6, 12, 57, 35, 61]

In [ ]:

l = [21, 6, 12, 57, 35, 61]

l.remove(max(l))
max=max(l)
l.remove(min(l))
min(min(l))
max+min

##Scores

Each of the tasks is of 2 mark each and the scores will be given accordingly after the notebook review.